/Mediator/appsettings.Development.json
/Mediator/obj/
/Mediator/bin/
/.idea/.idea.fine-examples.dir/.idea/.idea.fine-examples.dir.iml
/.idea/.idea.Examples/.idea/.name
/.idea/.idea.Examples/.idea/encodings.xml
/.idea/.idea.fine-examples.dir/.idea/encodings.xml
/.idea/.idea.Examples/.idea/indexLayout.xml
/.idea/.idea.fine-examples.dir/.idea/indexLayout.xml
/.idea/.idea.Examples/.idea/misc.xml
/.idea/.idea.fine-examples.dir/.idea/misc.xml
/.idea/.idea.Examples/riderModule.iml
/.idea/.idea.fine-examples.dir/riderModule.iml
/.idea/.idea.Examples/.idea/vcs.xml
/.idea/.idea.fine-examples.dir/.idea/vcs.xml
/.idea/*