<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="CRISPHealth" value="https://crispnuget.blob.core.windows.net/nuget/index.json"/>
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>